params {
   inputFiles = "/path/to/inputfiles/*bam" // (or cram)
   intervals = "/path/to/intervals_list/*.interval_list"
   referenceDir = "/path/to/referenceGenome/folder"
   referenceGenome = "<filename>.fa"
   gatkContainer = "/path/to/gatk.sif" 
   bundle = "/path/to/GATK_bundle"
   bundleBuild = "GRCh37" // Other possible values are hg19, GRCh38, and hg38
   resultFolder = "/path/to/result/folder"
   doBQSR = false // to enable recalibration set to true

}

singularity {
   enabled = true
   autoMounts = true
}

process {
   executor = "slurm"
   clusterOptions = "" // account name
   //executor = "local"
}

executor {
   $slurm {
      queueSize = 500
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "5 sec"
      jobName = { "variantCalling" }
   }
   $local {
      cpus = 1
   }
}
