params {
   inputFiles = "/home/praveen/projects/def-vmooser/praveen/TestData/chr21/variant_calling/*bam"
   inputFileType = "bam"
   intervals = "/home/praveen/projects/def-vmooser/praveen/ExomePlus/VariantCalling/hg38_scattered_calling_intervals/*/*.interval_list"
   referenceDir = "/home/praveen/projects/def-vmooser/praveen/genomes/species/Homo_sapiens.GRCh38/genome"
   referenceGenome = "Homo_sapiens.GRCh38.fa"
   gatkContainer = "/home/praveen/projects/rrg-vmooser/praveen/tools/GATK/gatk.sif" 
   bundle = "/home/praveen/projects/def-vmooser/praveen/ExomePlus/VariantCalling/GATK_bundle"
   resultFolder = "/home/praveen/scratch/results/exomeplus_phase2/test"
   doBQSR = true

}

singularity {
   enabled = true
   autoMounts = true
}

process {
   executor = "slurm"
   clusterOptions = "--account=rrg-vmooser"
   //executor = "local"
}

executor {
   $slurm {
      queueSize = 500
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "5 sec"
      jobName = { "single_gatk" }
   }
   $local {
      cpus = 1
   }
}
