params {
   //inputFiles = "/home/praveen/projects/def-vmooser/praveen/TestData/chr21/variant_calling/*.bam"
   //inputFiles = "/home/praveen/projects/def-vmooser/shared/exomeplus_phase2/novaseq_wes_gen3g/b38/*.bam"
   inputFiles = "/home/praveen/projects/rrg-vmooser/shared/exomeplus_phase2/wes+A00266_0498_1+A00266_0498_2/merged_crams/*.cram"
   inputFileType = "cram"
   intervals = "/home/praveen/projects/def-vmooser/praveen/ExomePlus/VariantCalling/hg38_scattered_calling_intervals/*/*.interval_list"
   reference_dir = "/home/praveen/projects/def-vmooser/praveen/genomes/species/Homo_sapiens.GRCh38/genome"
   gatk_container = "/home/praveen/projects/rrg-vmooser/praveen/tools/GATK/gatk.sif" 
   bundle = "/home/praveen/projects/def-vmooser/praveen/ExomePlus/VariantCalling/GATK_bundle"
   result_folder = "/home/praveen/scratch/results/exomeplus_phase2/wes+A00266_0498_1+A00266_0498_2/vcfs"
}

singularity {
   enabled = true
   autoMounts = true
}

process {
   executor = "slurm"
   clusterOptions = "--account=rrg-vmooser"
   //executor = "local"
}

executor {
   $slurm {
      queueSize = 500
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "5 sec"
      jobName = { "single_gatk" }
   }
   $local {
      cpus = 1
   }
}
