params {
   bamsListPath = "/path/to/InputBamFiles.txt" // Path to the text file listing all pairs of WES and WGS BAM/CRAM files. No header. One line per sample: <sample name> </path/to/WES/bam> </path/to/WGS/bam>.
   refGenome = "/path/to/<filename>.fa"
   resultFolder = "/path/to/result/folder"
}

process {
   executor = "slurm"
   clusterOptions = "--account=..." // cluster allocation account name
   //executor = "local"
}

executor {
   $slurm {
      queueSize = 200
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "10 sec"
      jobName = { "wgs+wes" }
   }
   $local {
      cpus = 1
   }
}
