params {
   bams_list_path = "InputFiles.txt"
   result_folder = "/home/praveen/scratch/results/exomeplus_phase2/wes+A00266_0498_1+A00266_0498_2"
   ref_genome = "/home/praveen/projects/def-vmooser/praveen/genomes/species/Homo_sapiens.GRCh38/genome/Homo_sapiens.GRCh38.fa"
   
}

process {
   executor = "slurm"
   //executor = "local"
   clusterOptions = "--account=rrg-vmooser"
}

executor {
   $slurm {
      queueSize = 100
      queueStatInterval = "3min"
      pollInterval = "1min"
      submitRateLimit = "10 sec"
      jobName = { "wgs+wes" }
   }
   $local {
      cpus = 1
   }
}
