params {
   bamsListPath = "InputBamFiles.txt"
   refGenome = "/path/to/*.fa"
   resultFolder = "/path/to/result/folder"

   // Variables below are only for the MergeBAMsPipeline.nf
   bedsListPath = "InputBedFiles.txt"
   bedGenomePath = "/path/to/*.genome"
   projectDir = "/path/to/project/dir"
   baseQuality = 20
   mappingQuality = 20
}

process {
   executor = "slurm"
   clusterOptions = "" // account name
   //executor = "local"
}

executor {
   $slurm {
      queueSize = 200
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "10 sec"
      jobName = { "wgs+wes" }
   }
   $local {
      cpus = 1
   }
}
