params {
   input_files = "inputWES.txt"
   result_folder = "/home/praveen/scratch/results/exomeplus_phase2/wes/annotated_vcfs/rc_vcfs"
}

process {
   executor = "slurm"
   clusterOptions = "--account=rrg-vmooser"
   //executor = "local"
}

executor {
   $slurm {
      queueSize = 100
      queueStatInterval = "3min"
      submitRateLimit = "10 sec"
      jobName = { "wgs+wes" }
   }
   $local {
      cpus = 1
   }
}
