params {
   truthFiles = "truthP1R24Plex.txt"
   inputFiles = "inputP1R2WES5x4Plex.txt"
   virtualenv = "~/projects/def-vmooser/shared/benchmark/bin/virtualenv/hap.py/bin/activate"
   happy = "~/projects/def-vmooser/shared/benchmark/bin/hap.py/hap.py-build/bin/hap.py"
   reference = "/cvmfs/soft.mugqic/CentOS6/genomes/species/Homo_sapiens.GRCh37/genome/Homo_sapiens.GRCh37.fa"
   resultFolder = "/home/praveen/scratch/results/exomeplus_phase2/test/benchmarking"
}

process {
   executor = "slurm"
   clusterOptions = "--account=rrg-vmooser"
   //executor = "local"
}

executor {
   $slurm {
      queueSize = 100
      queueStatInterval = "3min"
      submitRateLimit = "10 sec"
      jobName = { "wgs+wes" }
   }
   $local {
      cpus = 1
   }
}
