params {
   truthFiles = "truth.txt"
   inputFiles = "input.txt"
   virtualenv = "path/to/virtualenv/bin/activate"
   happy = "path/to/hap.py-install/bin/hap.py"
   reference = "/path/to/referenceGenome/*.fa"
   resultFolder = "/path/to/result/folder"
}

process {
   executor = "slurm"
   clusterOptions = "" // cluster allocation account name
   //executor = "local"
}

executor {
   $slurm {
      queueSize = 100
      queueStatInterval = "3min"
      submitRateLimit = "10 sec"
      jobName = { "benchmark" }
   }
   $local {
      cpus = 1
   }
}
