params {
   inputVcfs = "/path/to/vcfs_and_indices/*{.vcf.gz,.vcf.gz.tbi} // (or *{.bcf,.bcf.csi})  
   
   gatkContainer = "/path/to/<filename>.sif" // path to GATK singularity container

   pedigree = "/path/to/pedigree.ped" // path to the pedigree file (in PED format)
}

apptainer {
   enabled = true
   autoMounts = true
}

process {
   executor = "slurm"
   clusterOptions = "--account=..." // cluster allocation account name
   //executor = "local"

   withName: Refine {
      memory = "4 GB" 
      time = "1h"
   }
}

executor {
   $slurm {
      queueSize = 50
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "5 sec"
      jobName = { "gt" }
   }
   $local {
      cpus = 1
   }
}

report {
   enabled = true
}
