params {
   inputFilesToRecal = "/path/to/files/to/recalibrate/*.cram" // (or *.bam)
   recalFolder = "/path/to/write/recalibrated/files"
   inputFiles = "/path/to/input/files/jointvariantcalling/*.cram" // (or *.bam)
   inputFileType = "cram" // (or bam)
   regions = "/path/to/regions/file"
   chroms = "/path/to/chromosomes/list/file"
   label = "Cohort_Name"
   intervals = "/path/to/intervals_list/*.interval_list"
   referenceDir = "/path/to/referenceGenome/folder"
   referenceGenome = "Homo_sapiens.GRCh38"
   gatkContainer = "/path/to/gatk.sif" 
   gatkBundle = "/path/to/GATK_bundle"
   genomicsDBImportFolder = "/path/to/new/genomicDB"
   genomicsDB = "/path/to/existing/genomicDB"
   
   runHaplotypeCaller = true
   runGenomicDBImport = false
   // genomicDBImportMode options "Intialize" or "Add"
   genomicDBImportMode = "Initialize"
   runGenotypeGVCFs = false
   runVariantFilter = false

}

singularity {
   enabled = true
   autoMounts = true
}

process {
   executor = "slurm"
   clusterOptions = "" // cluster allocation account name
   //executor = "local"
}

executor {
   $slurm {
      queueSize = 500
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "5 sec"
      jobName = { "jvc" }
   }
   $local {
      cpus = 1
   }
}
