params {
   inputFilesToRecal = "/home/praveen/projects/rrg-vmooser/shared/BQC19/WGS_batch5/crams/*.cram"
   recalFolder = "/home/praveen/projects/rrg-vmooser/shared/BQC19/WGS_batch5/recalV4"
   inputFiles = "/home/praveen/projects/rrg-vmooser/shared/BQC19/WGS_batch5/recalV4/*.cram"
   inputFileType = "cram"
   intervalsList = "hg38_intervals.txt"
   chroms = "chrList.txt"
   label = "BQC19"
   intervals = "/lustre03/project/rrg-vmooser/praveen/genomes/species/Homo_sapiens.GRCh38/genome/hg38_scattered_calling_intervals/*.interval_list"
   referenceDir = "/lustre03/project/rrg-vmooser/praveen/genomes/species/Homo_sapiens.GRCh38/genome"
   referenceGenome = "Homo_sapiens.GRCh38"
   gatkContainer = "/lustre03/project/rrg-vmooser/praveen/tools/GATK/gatk.sif" 
   gatkBundle = "/lustre03/project/def-vmooser/praveen/ExomePlus/VariantCalling/GATK_bundle/GRCh38"
   
   runHaplotypeCaller = true
   runGenomicDBImport = false
   // genomicDBImportMode options "Intialize" or "Add"
   genomicDBImportMode = "Initialize"
   runGenotypeGVCFs = false
   runVariantFilter = false


   genomicsDBImportFolder = "/home/praveen/projects/rrg-vmooser/shared/BQC19/genomicDB"
   genomicsDB = "/home/praveen/projects/rrg-vmooser/shared/BQC19/gdb_4/genomicDB"
   gvcfsResultFolder = "/home/praveen/projects/rrg-vmooser/shared/BQC19/WGS_batch5/gVCFs"
   jvcMSResultFolder = "/home/praveen/projects/rrg-vmooser/shared/BQC19/VCFs/beforeFiltering"
   vqsrFolder = "/home/praveen/projects/rrg-vmooser/shared/BQC19/VCFs/VQSR"
   result = "/home/praveen/projects/rrg-vmooser/shared/BQC19/VCFs/Final"
   sampleMapFolder = "/home/praveen/projects/def-vmooser/praveen/pipelines/ExomePlus/JointVariantCalling"
   bundle = "/lustre03/project/def-vmooser/praveen/ExomePlus/VariantCalling/GATK_bundle/GRCh38"
   projectFolder = "/home/praveen/projects/rrg-vmooser/praveen/pipelines/ExomePlus/JointVariantCalling"

}

singularity {
   enabled = true
   autoMounts = true
}

process {
   executor = "slurm"
   clusterOptions = "--account=rrg-vmooser"
   //executor = "local"
}

executor {
   $slurm {
      queueSize = 500
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "5 sec"
      jobName = { "vqsr" }
   }
   $local {
      cpus = 1
   }
}
