params {
   inputFiles = "/home/praveen/projects/rrg-vmooser/shared/BQC19/tmp/*.cram"
   inputFileType = "cram"
   intervalsList = "hg38_intervals.txt"
   label = "BQC19"
   intervals = "/home/praveen/projects/def-vmooser/praveen/genomes/species/Homo_sapiens.GRCh38/genome/hg38_scattered_calling_intervals/*.interval_list"
   referenceDir = "/home/praveen/projects/def-vmooser/praveen/genomes/species/Homo_sapiens.GRCh38/genome"
   referenceGenome = "Homo_sapiens.GRCh38"
   gatkContainer = "/home/praveen/projects/rrg-vmooser/praveen/tools/GATK/gatk.sif" 
   gatkBundle = "/home/praveen/projects/def-vmooser/praveen/ExomePlus/VariantCalling/GATK_bundle/GRCh38"
   tempFolder = "/home/praveen/scratch/tmp"
   genomicsDBImportFolder = "/home/praveen/projects/rrg-vmooser/shared/BQC19/genomicDB"
   resultFolder = "/home/praveen/scratch/results/BQC19/VCFs"
   gvcfsResultFolder = "/home/praveen/projects/rrg-vmooser/shared/BQC19/gVCFs"
   jvcMSResultFolder = "/home/praveen/projects/rrg-vmooser/shared/BQC19/VCFs"
   vqsrFolder = "/home/praveen/projects/rrg-vmooser/shared/BQC19/VQSR"
   multisampleVCF = "/home/praveen/projects/rrg-vmooser/shared/BQC19/multiSampleVCF"
   chrVCF = "/home/praveen/projects/rrg-vmooser/shared/BQC19/annotatedVCFs"
   sampleMapFolder = "/home/praveen/projects/def-vmooser/praveen/ExomePlus/JointVariantCalling"
   bundle = "/home/praveen/projects/def-vmooser/praveen/ExomePlus/VariantCalling/GATK_bundle/GRCh38"
   workDir = "/home/praveen/scratch/jvc"
   projectFolder = "/home/praveen/projects/def-vmooser/praveen/ExomePlus/JointVariantCalling"

}

singularity {
   enabled = true
   autoMounts = true
}

process {
   executor = "slurm"
   clusterOptions = "--account=rrg-vmooser"
   //executor = "local"
}

executor {
   $slurm {
      queueSize = 500
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "5 sec"
      jobName = { "stats" }
   }
   $local {
      cpus = 1
   }
}
