params {

   // Specify path to the existing GenomicsDB directory if you are adding additional samples
   // The structure of the existing GenomicsDB directory is ../CHROM/STARTBP_STOPBP
   genomicsDB = "/path/to/existing/genomicsdb/*/[0-9]*_[0-9]*"
  
   referenceDir = "/path/to/reference/genome/folder"
   eferenceGenome = "<filename>.fa"
  
   gatkContainer = "/path/to/<filename>.sif" // path to GATK singularity container
   gatkBundle = "/path/to/GATK/bundle/folder" // path to GATK bundle directory
}

apptainer {
   enabled = true
   autoMounts = true
}

process {
   executor = "slurm"
   clusterOptions = "--account=..." // cluster allocation account name
   //executor = "local"

   withName: GenotypeGVCFs {
      time = "12h"
   }

   withName: MakeSitesOnlyVcf {
      time = "6h"
   }

   withName: MergeSitesOnlyVCFs {
      time = "6h"
   }

   withName: RecalibrateIndels {
      time = "24h"
   }

   withName: RecalibrateSNVs {
      time = "24h"
   }

   withName: ApplyVQSR {
      time = "24h"
   }
}

executor {
   $slurm {
      queueSize = 50
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "5 sec"
      jobName = { "gt" }
   }
   $local {
      cpus = 1
   }
}

report {
   enabled = true
}
