params {
   inputFiles = "/path/to/input/files/*{.bam,.bai}" // (or *{.bam,.bai} or *{.cram,.crai})"
   referenceDir = "/path/to/reference/genome/folder"
   referenceGenome = "<filename>.fa" 
   intervals = "/path/to/scattered_calling_intervals/*/*.interval_list" // path to GATK's scattered calling intervals
   gatkContainer = "/path/to/<filename>.sif" // path to GATK singularity container

   // Specify path to the existing GenomicsDB directory if you are adding additional samples
   // IMPORTANT: the existing GenomicsDB must have been created using the same GATK's scattered calling intervals and chunking (i.e. same Nextflow pipeline)
   // The structure of the existing GenomicsDB directory is ../CHROM/STARTBP_STOPBP
   genomicsDB = ""
   // genomicsDB = "/path/to/existing/genomicsdb/*/[0-9]*_[0-9]*"
}

apptainer {
   enabled = true
   autoMounts = true
}

process {
   executor = "slurm"
   clusterOptions = "--account=..." // cluster allocation account name
   //executor = "local"

   withName: HaplotypeCaller {
      time = "48h" 
   }

   withName: GenomicsDBImport {
      time = "48h"
   }

   withName: GenomicsDBUpdate {
      time = "48h"
   }
}

executor {
   $slurm {
      queueSize = 500
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "5 sec"
      jobName = { "HC" }
   }
   $local {
      cpus = 1
   }
}
