params {
   inputFiles = "/path/to/input/files/*.cram" // (or *.bam)
   referenceDir = "/path/to/reference/genome/folder"
   referenceGenome = "<filename>.fa"
   gatkContainer = "/path/to/<filename>.sif" // path to GATK singularity container 
   bundle = "/path/to/GATK/bundle/folder"
   bundleBuild = "GRCh38" // other possible values are hg19, GRCh38, and hg38
}

singularity {
   enabled = true
   autoMounts = true
}

process {
   executor = "slurm"
   clusterOptions = "--account=..." // cluster allocation account name
   //executor = "local"
}

executor {
   $slurm {
      queueSize = 500
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "5 sec"
      jobName = { "recal" }
   }
   $local {
      cpus = 1
   }
}
