params {
   inputFiles = "/lustre03/project/rrg-vmooser/shared/BQC19/WGS_batch1/recalV4/*.cram"
   //inputFiles = "dellyMissed.txt"
   referenceDir = "/lustre03/project/rrg-vmooser/praveen/genomes/species/Homo_sapiens.GRCh38/genome"
   referenceGenome = "/lustre03/project/rrg-vmooser/praveen/genomes/species/Homo_sapiens.GRCh38/genome/Homo_sapiens.GRCh38.fa"
   genome = "hg38"
   result = "/lustre03/project/rrg-vmooser/shared/BQC19/SV"
   testResult = "/lustre03/project/rrg-vmooser/praveen/tools/SV/test"
   delly = "/lustre03/project/rrg-vmooser/praveen/tools/SV/delly/delly_v0.9"
   manta = "/cvmfs/soft.computecanada.ca/easybuild/software/2020/avx2/MPI/gcc9/openmpi4/manta/1.6.0/bin"
   sve = "/lustre03/project/rrg-vmooser/praveen/tools/SVE/bin"
   lumpy = "/lustre03/project/rrg-vmooser/praveen/tools/SV/lumpy-sv"

}

process {
   executor = "slurm"
   clusterOptions = "--account=rrg-vmooser"
   //executor = "local"
}

executor {
   $slurm {
      queueSize = 800
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "5 sec"
      jobName = { "Lumpy" }
   }
   $local {
      cpus = 1
   }
}
