params {
   inputFiles = "/home/praveen/projects/rrg-vmooser/shared/BQC19/WGS_batch2/recalV4/*.cram"
   inputFileType = "cram"
   doCramToBam = true
   bamsFolder ="/home/praveen/projects/rrg-vmooser/shared/BQC19/WGS_batch2/bams"
   result = "/home/praveen/projects/rrg-vmooser/shared/BQC19/SV"
   referenceDir = "/home/praveen/projects/rrg-vmooser/praveen/genomes/species/Homo_sapiens.GRCh38/genome"
   referenceGenome = "/home/praveen/projects/rrg-vmooser/praveen/genomes/species/Homo_sapiens.GRCh38/genome/Homo_sapiens.GRCh38.fa"
   genome = "hg38"
   scripts = "/home/praveen/projects/rrg-vmooser/praveen/pipelines/ExomePlus/StructuralVariantCalling/Scripts"
   delly = "/home/praveen/projects/rrg-vmooser/praveen/tools/SV/delly/delly_v0.9"
   manta = "/cvmfs/soft.computecanada.ca/easybuild/software/2020/avx2/MPI/gcc9/openmpi4/manta/1.6.0/bin"
   sve = "/home/praveen/projects/rrg-vmooser/praveen/tools/SVE"
   lumpy = "/home/praveen/projects/rrg-vmooser/praveen/tools/SV/lumpy-sv"
   melt = "/home/praveen/projects/rrg-vmooser/praveen/tools/SV/MELTv2.2.2"
   mei = "/home/praveen/projects/rrg-vmooser/praveen/tools/SV/MELTv2.2.2/me_refs/Hg38"
   survivor = "/home/praveen/projects/rrg-vmooser/praveen/tools/SV/SURVIVOR/Debug/SURVIVOR"
   smoove = "/home/praveen/projects/rrg-vmooser/praveen/tools/smoove/smoove"
   annotsv = "/home/praveen/projects/rrg-vmooser/praveen/tools/SV/AnnotSV/AnnotSV/bin/AnnotSV"
   breakpoint_dist=1000
   use_type=1
   use_strand=1
   dist_based=0
   min_sv_size=50

}

process {
   executor = "slurm"
   clusterOptions = "--account=rrg-vmooser"
   //executor = "local"
}

executor {
   $slurm {
      queueSize = 500
      queueStatInterval = "3min"
      pollInterval = "3min"
      submitRateLimit = "5 sec"
      jobName = { "sv_call" }
   }
   $local {
      cpus = 1
   }
}
